/* UTILITIES CLASSES */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  overflow-y: hidden;
}

a {
  color: inherit;
  opacity: .5;
}

/* END UTILITIES CLASSES */
.wrapper {
  background-color: #DADBD5;
  color: inherit;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.beyond-top {
  height: 15%;
  width: 100%;
  background-color: #009688;
}

/* MAIN CONTAINER */
main {
  position: absolute;
  width: 70%;
  height: 95%;
  align-self: center;
}


/* END MAIN CONTAINER */

/* LEFT NAV */
.left-nav {
  display: flex;
  flex-flow: column;
  background-color: #FFFFFF;
  color: inherit;
  float: left;
  width: 30%;
  height: 100%;
}

.top-nav-left {
  height: 90px;
  background-color: #EAEAEA;
  color: inherit;
  display: flex;
  padding: 15px;
  overflow: visible;
}

/* user name */
.top-nav-left:first-child {
  justify-content: space-between;
}

.user-name>img {
  height: 3.5em;
  border-radius: 50%;
  vertical-align: middle;
}

.icons {
  font-size: 1.5em;
  align-self: center;
}

.icons>i {
  padding: 0 10px;
  color: #B1B1B1;
}
/* end user name */

/* messages notifies */
.top-nav-left:nth-of-type(2) {
  background-color: #8EDAFC;
  color: inherit;
  align-items: center;
}

.icon-notify-container {
  width: 3.5em;
  height: 3.5em;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: flex;

}

.icon-notify-container>i {
  font-size: 1.5em;
  align-self: center;
  padding-left: 12px;
  color: #8EDAFC;
}

.notify-container>a {
  font-size: .8em;
  display: block;
}

.notify-container {
  margin-left: 10px;
}


/* end messages notifies */

/* search chat */
.top-nav-left:nth-of-type(3) {
  background-color: #FBF8FB;
  color: inherit;
  height: 50px;
  display: flex;
  align-items: center;
}

.search-field>i {
  position: absolute;
  line-height: 40px;
  padding-left: 10px;
  color: #B1B1B1;
}

.search-field {
  width: 100%;
}

.search-field>input {
  outline-width: 0;
  height: 40px;
  width: 100%;
  padding-left: 40px;
}

/* end search chat */

/* contacts */
.contacts-container {
  padding: 15px;
  border-bottom: 1px solid #EAEAEA;
}

.contacts-content>img, .selected-contact>img {
  height: 4em;
  border-radius: 50%;
  vertical-align: middle;
}

.contacts-content>span {
  vertical-align: top;
  margin-left: 10px;
}

.middle-nav-left {
  overflow-y: auto;
}

/* end contacts */

/* END LEFT NAV */

/* MESSAGES SECTION */
#content {
  background-image: url(../img/mine.jpg);
  background-repeat: repeat;
  background-color: #E5DCD5;
  color: inherit;
  height: calc(100% - 100px);
  overflow-y: auto;
}

.messages-section {
  margin: 0 auto;
  /* position: absolute; */
  /* bottom: 20px; */
  margin-top: 40%;
  width: 70%;
  overflow-y: auto;
  display: flex;
  flex-flow: column-reverse wrap;
  align-items: center;
}

.sent-messages {
  background-color: #DBF8BE;
  width: 250px;
  height: 80px;
  border-radius: 10px;
  align-self: flex-end;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.received-messages {
  background-color: #FFFFFF;
  width: 250px;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 20px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sent-messages>span:last-child, .received-messages>span:last-child {
  opacity: .5;
  font-size: .8em;
  display: block;
  text-align: right;
  padding-right: 10px;
}
.sent-messages>span:first-child, .received-messages>span:first-child {
  padding: 15px 0 0 10px;
  display: block;
}


/* END MESSAGES SECTION */

/* TOP NAV */
.top-nav {
  width: 70%;
  height: 90px;
  line-height: 90px;
  padding: 0 15px;
  background-color: #EAEAEA;
  color: inherit;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.details-selected-contact {
  line-height: 1.4;
}

.details-selected-contact>span:last-child {
  font-size: .8em;
  opacity: .5;
  display: block;
}

.details-selected-contact {
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
}


/* END TOP NAV */

/* MAIN CONTENT  */
/* END MAIN CONTENT  */

/* TEXT BAR */


.bottom-box {
  height: 100px;
  line-height: 100px;
  background-color: #F3EEEA;
  color: inherit;
  display: flex;
  justify-content: center;
  /* align-content: center; */
}

.text-box {
  flex-basis: 100%;
  text-align: center;
}

.text-box>i {
  vertical-align: middle;
}

.text-box>input {
  vertical-align: middle;
  width: 85%;
  line-height: 75px;
  font-size: 1.5em;
  outline-width: 1px;
  border-radius: 5px;
  padding-left: 15px;
  margin: 0 15px;
}

.fa-smile, .fa-microphone {
  font-size: 2em;
  /* padding: 0 30px; */
  color: #6D7575;
}
/* END TEXT BAR */





/* --- MEDIA QUERIES --- */

@media screen and (max-width: 1200px) {
  .text-box>input {
    /* width: 75%;
    line-height: 75px;
    font-size: 1.5em;
    outline-width: 1px;
    border-radius: 5px;
    padding-left: 15px; */
    /* margin: 0 20px; */
  }
}


@media screen and (max-width: 992px) {
  .text-box>input {
    /* width: 65%;
    line-height: 75px;
    font-size: 1.5em;
    outline-width: 1px;
    border-radius: 5px;
    padding-left: 15px; */
    /* margin: 0 20px; */
  }
}

@media screen and (max-width: 768px) {
  .text-box>input {
    /* width: 50%;
    line-height: 65px;
    font-size: 1.2em;
    outline-width: 1px;
    border-radius: 5px;
    padding-left: 15px; */
    /* margin: 0 20px; */
  }
}

@media screen and (max-width: 576px) {
  .text-box>input {
    /* width: 40%;
    line-height: 60px;
    font-size: .8em;
    outline-width: 1px;
    border-radius: 5px;
    padding-left: 15px; */
    /* margin: 0 20px; */
  }
}
