<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <title>Boolzapp</title>
</head>

<body>

  <!-- wrapper -->
  <div class="wrapper" id="app">
    <div class="beyond-top"></div>
    <!-- main container -->
    <main>

      <!-- left nav -->
      <nav class="left-nav">

        <!-- user name -->
        <div class="top-nav-left">

          <div class="user-name">
            <img src="img/avatar_io.jpg" alt="user icon">
            <span>User Name</span>
          </div>
          <div class="icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>
        <!-- end user name -->

        <!-- messages notifies -->
        <div class="top-nav-left">
          <div class="icon-notify-container">
            <i class="fas fa-bell-slash"></i>
          </div>
          <div class="notify-container">
            <span>Get Notified of New Messages</span>
            <a href="#"><span>Turn on desktop notifications</span></a>
          </div>
        </div>
        <!-- end messages notifies -->

        <!-- search chat -->
        <div class="top-nav-left">
          <div class="search-field">
            <i class="fas fa-search"></i>
            <input placeholder="Search or start new chat" type="text"
                   v-model="search"
                   @input='filterContact()' >
          </div>
        </div>
        <!-- end search chat -->

        <!-- contacts -->
        <div class="middle-nav-left">
          <div class="contacts-container"
               v-for="(item, index) in contacts"
               @click="clickedChat(index)"
               v-if='item.visible'>
            <div class="contacts-content">
              <img :src="'img/avatar' + item.avatar + '.jpg'">
              <span>{{item.name}}</span>
              <small>{{contactLastSeen(index)}}</small>
              <small>{{lastMessage(index)}}</small>
            </div>
          </div>
        </div>
        <!-- end contacts -->

      </nav>
      <!-- end left nav -->

      <!-- top nav -->
      <div class="top-nav">

        <!-- selected contact on top -->
        <div class="selected-contact">
          <img :src="'img/avatar' + contacts[chatIndex].avatar + '.jpg'">
          <div class="details-selected-contact">
            <span>{{contacts[chatIndex].name}}</span>
            <span>Last seen {{contactLastSeen(chatIndex)}}</span>
          </div>
        </div>
        <!-- end selected contact on top -->

        <!-- right side icons -->
        <div class="icons">
          <i class="fas fa-search"></i>
          <i class="fas fa-paperclip"></i>
          <i class="fas fa-ellipsis-v"></i>
        </div>
        <!-- end right side icons -->

      </div>
      <!-- end top nav -->

      <!-- main content -->
      <section id="content">
        <!-- sent and received messages -->
        <div class="messages-section">

          <div v-for="item in contacts[chatIndex].messages"
               :class="item.status === 'received' ? 'received-messages' : 'sent-messages'" >
            <span>{{item.text}}</span>
            <span>{{item.date}}</span>
          </div>

        </div>
        <!-- end sent and received messages -->
      </section>
      <!-- end main content -->

      <!-- footer - texting bar -->
      <div class="bottom-box">
        <div class="text-box">
          <i class="far fa-smile icons"></i>

            <input placeholder="Type a message"
                   @keyup.enter="addNewMessage"
                   v-model="newMessage" >

          <i class="fas fa-microphone icons"></i>
        </div>
      </div>
      <!-- footer - texting bar -->

    </main>
    <!-- end main container -->


  </div>
  <!-- end wrapper -->

  <!-- script -->
  <script src="js/script.js" charset="utf-8"></script>
  <!-- end script -->
</body>

</html>
